fastapi[all]==0.97.0
uvicorn==0.22.0
gunicorn==21.2.0
pydantic==1.10.9
asyncpg==0.27.0
fastapi-router-controller==0.5.0
boto3==1.26.152
sqlalchemy==2.0.16
botocore==1.29.152
alembic==1.11.1
passlib[bcrypt]==1.7.4
prometheus-fastapi-instrumentator==5.9.1
python-logging-loki==0.3.1
opentelemetry-instrumentation-fastapi==0.40b0
opentelemetry-instrumentation-logging==0.40b0
opentelemetry-exporter-otlp==1.19.0
opentelemetry-api==1.19.0
opentelemetry-sdk==1.19.0
opentelemetry-exporter-jaeger-thrift==1.19.0
opentelemetry-instrumentation-asyncpg==0.40b0
opentelemetry.instrumentation.sqlalchemy==0.40b0
opentelemetry.instrumentation.botocore==0.40b0
opentelemetry-instrumentation-redis==0.40b0
pyjwt[crypto]==2.7.0
redis==5.0.0
fastapi-cache2[redis]==0.1.8